body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.buttons  .start {
  margin-left: 3rem;
  background-color: rgb(79, 216, 16);
  font-size: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  width: 5rem;
  height: 2rem;
  color: chocolate;
}

.buttons .reset {
  margin-left: 3rem;
  background-color: rgb(79, 216, 16);
  font-size: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  width: 5rem;
  height: 2rem;
  color: chocolate;
}